*{
    margin: 0;padding: 0;
}
body{
    /* background: gray;
    color: white; */
    text-align: center;
    background-color: lightgray;
    color: #333;
}

h1{
    color: #2c3e50;
    margin-top: 1rem;
}
.bmiCalculator{
    display: inline-block;
    width: 60vh;
    background-color: #766b6b4d;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 30px 40px;
    border-radius: 15px;
    margin-top: 10rem;
}

.fillupForm{
    margin-top: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid aliceblue;
    border-radius: 1rem;
    height: 40vh;
    background-color: silver;
}
form{
    height: 32vh;
}
p{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 1rem;
    justify-content: center;
}
input{
    padding: 0.2rem;
}
.suggestion{
    margin-top: 1rem;
    font-size: 1.2rem;
    width: auto;
}
#calculate{
    margin-top: 1rem;
    width: auto;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 8px 3px black;
    font-weight: bold;
    text-align: center;
}
.result, .interpretation{
    margin-top: 1rem;
    font-size: 1.6rem;
    width: auto;
}